# INTELIJ 
.idea/
*.iml
app/*
EVMobile-Tests/app/
*.html
*.class

#node
EVMobile-Tests/src/test/node_modules/
EVMobile-Tests/src/test/node/
EVMobile-Tests/src/test/package-lock.json

#maven plugins
EVMobile-Tests/target/EVMobile-Tests-1.0-SNAPSHOT.jar
EVMobile-Tests/target/failsafe-reports/
EVMobile-Tests/target/maven-archiver/
EVMobile-Tests/target/maven-status/
EVMobile-Tests/target/surefire-reports/
EVMobile-Domain/target/
EVMobile-Framework/target/EVMobile-Framework-1.0-SNAPSHOT.jar
EVMobile-Framework/target/maven-archiver/
EVMobile-Framework/target/maven-status/
EVMobile-Page-Objects/target/EVMobile-Page-Objects-1.0-SNAPSHOT.jar
EVMobile-Page-Objects/target/maven-archiver/
EVMobile-Page-Objects/target/maven-status/
EVMobile-Tests/target/classes/META-INF/
EVMobile-Page-Objects/target/classes/META-INF/


